<div id="content" class="container" style="padding: 5px;">
	<div class="row">
		<div class="table-dashboard">
			<h3 align="center">The newest information</h3>
			<table class="table table-condensed table-hover" id="newestTable"></table>
		</div>
	</div>

	<div class="row">
		<!-- ----------- High Score----------- -->
		<div class="table-dashboard">
			<h3 style="text-align: center;">High score</h3>
			<table class="table table-condensed table-hover" id="topRankTable"></table>
		</div>
	</div>
	<div class="row">
		<!-- -------------  Rank last month  -------------- -->
		<div class="table-dashboard">
			<h3 style="text-align: center;">Last month result</h3>
			<table class="table table-condensed table-hover" id='rankLastMonthTable'>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/dashboard.js"></script>