<div class="container text-center">
    <h3>Reset Password</h3>
    <hr>
    <form id="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">New password</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="password" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Confirm password</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="confirmpassword" value="" />
            </div>
        </div>
        <div>
            <input id="submit" type="submit" class="btn btn-primary" value="Save"/>
            <input id="cancel" type="button" class="btn btn-default" value="Cancel" />
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="resetpassword-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModalSuccess()">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>Reset password success.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModalSuccess()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="resetpassword-error" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModalError()">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>Reset password error.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModalError()">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/user/resetpassword.js"></script>