<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/register/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/register/css/style.css}">
</head>

<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form id="signup-form" class="signup-form">
                        <h2 class="form-title">Tạo tài khoản</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="ten" id="ten" placeholder="Họ và tên"
                                value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="soDienThoai" id="so-dien-thoai"
                                placeholder="Số điện thoại" value="" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Ngày sinh" class="form-input" type="text"
                                onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name="ngaySinh"
                                value="">
                            <!-- <input type="date" class="form-input" name="diaChi" id="ngay-sinh" placeholder="Your Birth"/> -->
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="diaChi" id="dia-chi" placeholder="Địa chỉ"
                                value="" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Email"
                                value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="username" placeholder="Tài khoản"
                                value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password"
                                placeholder="Mật khẩu" value="" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password"
                                placeholder="Nhật lại mật khẩu" value="" />
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="submit" name="regis" id="regis-submit" class="form-submit"
                                    value="Đăng ký" />
                            </div>
                        </div>
                    </form>
                    <p class="loginhere">
                        Bạn đã có tài khoản ? <a href="#" class="loginhere-link">Đăng nhập</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script th:src="@{/register/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/register/js/main.js}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>