<div class="container text-center">
    <h3>Edit Employee</h3>
    <hr>
    <form id="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Họ tên</label>
            <div class="col-md-7">
                <input type="text" maxlength="1000" class="form-control" name="ten" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Số điện thoại</label>
            <div class="col-md-7">
                <input type="text" maxlength="10" class="form-control" name="soDienThoai" id="soDienThoai" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Ngày sinh</label>
            <div class="col-md-7">
                <input type="date" class="form-control" name="ngaySinh" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Lương tháng</label>
            <div class="col-md-7">
                <input type="text" maxlength="1000" class="form-control" name="luongThang" id="lÆ°Æ¡ng" value="" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-3">Giới tính</label>
            <div class="col-md-7" id="gioi-tinh">
                <select class="form-control input-sm" name="gioiTinh">
                    <option value="">Chọn ...</option>
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                </select>
            </div>
        </div>
       
       <div class="form-group">
            <label class="control-label col-md-3">Bộ phận</label>
            <div class="col-md-7"  id="bo-phan">
                <select class="form-control input-sm" name="boPhan">
                    <option value="">Chọn ...</option>
                </select>
            </div>
        </div>
        
        <div>
            <input id="submit" type="submit" class="btn btn-primary" value="Save" disabled />
            <input id="cancel" type="button" class="btn btn-default" value="Cancel" />
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-employee-success" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModalSuccess()">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Cập nhật nhân viên thành công.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModalSuccess()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="edit-employee-error" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closeModalError()">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <p>Đã xảy ra lỗi.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModalError()">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/hr/edit-employee.js"></script>