<div class="container">
	<div class="button" style="float: left">
		<div class="form-group">
			<input id="add" onclick="openPage('')" type="button"
				class="btn btn-primary" value="Add" /> 
			<input id="edit"
				onclick="openPage('')" type="button" class="btn btn-primary"
				value="Edit" /> 
			<input id="view" onclick="openPage('')"
				type="button" class="btn btn-primary" value="View" /> 
			<input
				id="delete" onclick="openPage('')" type="button"
				class="btn btn-primary" value="Delete" />
		</div>
	</div>
	<div style="float: right;">
		<div>
		  <input type="text" id="mySearchText" placeholder="Search..."/>
		  <button id="mySearchButton" class="btn btn-primary">Search</button>
		</div>
	</div>
	<div class="profile">
	   <table id="datatable" class="display"></table>
	</div>

</div>
