<div class="container">
	<!-- <form class="form-signin"> -->
	<h2 class="form-signin-heading" style="text-align: center;">Please
		sign in</h2>
	<div class="row">
		<div
			class="col-sm-8 col-md-4 col-centered form-group col-md-offset-4 col-sm-offset-2">
			<input type="text" id="username" name="username" class="form-control"
				placeholder="Username" required autofocus>
		</div>
	</div>
	<div class="row">
		<div
			class="col-sm-8 col-md-4 col-centered form-group col-md-offset-4 col-sm-offset-2">
			<input type="password" id="password" name="password"
				class="form-control" placeholder="Password" required>
		</div>
	</div>
	<!-- </form> -->
	<div class="row">
		<div
			class="col-sm-8 col-md-4 col-centered form-group col-md-offset-4 col-sm-offset-2">
			<button id="login" class="btn btn-lg btn-primary btn-block">Sign
				in</button>
		</div>
	</div>
</div>

<div class="modal" id="loginfail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Thông tin tài khoản hoặc mật khẩu không đung!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/auth/login.js"></script>