
<div class="container" style="padding: 5px;">
    <h1>Choose option to export data to excel file</h1>
    <form id="form">
        <div class="checkbox">
            <label><input id="checkProject" type="checkbox" value="">Projects
                List</label>
        </div>
        <div class="checkbox">
            <label><input id="checkHr" type="checkbox" value="">HR
                Allocation</label>
        </div>
        <div id="term">
            <label>Term</label> <select id='terms'>
            </select>
        </div>
        <br>
        <div>
            <input class ="btn btn-primary" id="submit" value="Export">
        </div>
    </form>
</div>
<script type="text/javascript" src="js/change/exportToExcel.js"></script>