 <div class="container" style="padding: 5px;">
	<div class="panel panel-default">
	     <div class="panel-body">
	            <form>
	                <div class="form-group">
	                    <label for="myFileField">Select files: </label>
	                    <input type="file"  class="form-control" id ="myFileField" multiple="multiple" required="required"
	                    accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
	                </div>
	                <button id="upload-file" class = "btn btn-primary">Upload File</button>
	            </form>
	        </div>
	     </div>
	     <div style="overflow-y: auto;width: 1168;height: 510;" id="upload-result"></div>
</div>
<script type="text/javascript" src="js/change/uploadFile.js"></script>