<div id="content" class="container" style="padding: 5px;">
	<div class="bs-component">
		<!-- <form class="padding-bottom-20" > 
			 <div class="row">
				<div class="col-md-1 text-right padding-top-10 text-bold">
					<label >PT Name : </label>
				</div>
				<div class="col-md-4">
					<div >
						<select id="selectPT" class="form-control dropdown">
						</select>
					</div>
				</div>
				<div class="col-md-1">
					<button class="btn btn-primary" onclick="search()" > Search</button>
				</div>
			<div class="col-md-1">
					<button class="btn btn-primary" onclick="clearFunction()" > Clear all</button>
				</div>
			</div>
			<br>
		<br>
		</form> -->
		<table id="datatable" class="display"></table>
	</div>
</div>
<script type="text/javascript" src="js/change/search.js"></script>