<div>

	<nav class="navbar navbar-inverse">

		<div class="container-fluid">

			<ul class="nav navbar-nav" id="menu-nav-bar">

				<li class="active"><a href="#" onclick="openPage('xuat_truyen/xuat_truyen.html')"><span
							class="glyphicon glyphicon-home"></span>&ensp;Home</a></li>

				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-folder-open"></span>&ensp;Quản lý hóa đơn<span
							class="caret"></span></a>

					<ul class="dropdown-menu">

						<li><a href="#" onclick="openPage('don_dat_mua_truyen/don_dat_mua_truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Đơn đặt mua truyện
							</a></li>
						<li><a href="#" onclick="openPage('cuon_truyen/cuon_truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Cuốn truyện
							</a></li>
					</ul>
				</li>

				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-folder-open"></span>&ensp;Quản lý danh mục<span
							class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#" onclick="openPage('hr/employee.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Nhân viên</a></li>
						<!-- <li><a href="#" onclick="openPage('user/user.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Người dùng</a></li> -->
						<li><a href="#" onclick="openPage('truyen/truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Truyện</a></li>
						<li><a href="#" onclick="openPage('tac_gia/tac_gia.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Tác giả</a></li>
						<li><a href="#" onclick="openPage('dich_gia/dich_gia.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Dịch giả</a></li>
						<li><a href="#" onclick="openPage('nha_xuat_ban/nha_xuat_ban.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Nhà xuất bản</a></li>
						<li><a href="#" onclick="openPage('dau_truyen/dau_truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Đầu truyện</a></li>
					</ul>
				</li>

				<!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
							class="glyphicon glyphicon-folder-open"></span>&ensp;Tạo hóa đơn
						<span class="caret"></span></a>

					<ul class="dropdown-menu">

						<li><a href="#" onclick="openPage('xuat_truyen/xuat_truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Hóa đơn xuất
							</a></li>

						<li><a href="#" onclick="openPage('dau_truyen/dau_truyen.html')"><span
									class="glyphicon glyphicon-folder-open"></span>&ensp;Hóa đơn nhập</a></li>
					</ul>
				</li> -->

				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="to-mau-anh"><span
							class="glyphicon glyphicon-folder-open"></span>&ensp;Tô màu ảnh
						<span class="caret"></span></a>
				</li>

			</ul>

			<ul class="nav navbar-nav navbar-right">

				<li><a href="#" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

			</ul>

		</div>

	</nav>

</div>

<div class="modal" id="Authorization">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">Authorization error</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function menuItem(parent, menu) {

		var menuItem = '<li><a href="#" ';

		if (menu.template && menu.template !== '') {

			menuItem += 'onclick="openPage(\'' + menu.template + '\')"';

		}

		menuItem += '><span class="glyphicon ' + menu.class + '"></span>&ensp;'
			+ menu.name + '</a></li>'

		$(parent).append(menuItem);

	}

	function menuParent() {


	}

	$(document).ready(function () {

	});
</script>

<script type="text/javascript" src="/js/common/menu.js"></script>
<script type="text/javascript" src="/js/to_mau/to_mau_truyen.js"></script>